.mainHeader {
  padding: 0.8rem 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2rem;
}

.buttons {
  display: flex;
  gap: 2rem;
}

@media screen and (min-width: 1100px) {
  .mainHeader {
    max-width: 1360px;
    margin: 0 auto;
  }

  .logo {
    height: 3rem;
  }
}
