.mainHeader {
  padding-inline: 1rem;
  height: 5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  height: 2.4rem;
}

.buttons {
  display: flex;
  gap: 3rem;
}

@media screen and (min-width: 1100px) {
  .mainHeader {
    padding-inline: 2rem;
  }

  .logo {
    height: 3rem;
  }
}
