:root {
  --primary-color: #00bc0e;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f0f0f0;
  --tertiary-bg-color: #e6e6e6;
  --box-shadow-color: #0000001a;
  --border-color: #00000080;
  --secondary-text-color: #555555;
  --danger-color: #dd0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body,
#__next {
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  cursor: pointer;
}
