:root {
  --primary-color: #00bc0e;
  --secondary-text: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body,
#__next {
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  cursor: pointer;
}
