.cart {
  width: 100%;
  background-color: var(--secondary-bg-color);
  position: absolute;
  top: 5rem;
  right: 0;
  z-index: 10;
}

.cart::before {
  content: "";
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-top: 0;
  border-bottom: 1rem solid var(--secondary-bg-color);
  position: absolute;
  right: 1rem;
  top: -1rem;
}

.cart ul {
  max-height: 25rem;
  padding-inline: 1rem;
  overflow-y: scroll;
}

.emptyCart {
  padding: 1rem;
  text-align: center;
}

.cart > p {
  padding: 1rem;
  background-color: var(--tertiary-bg-color);
  text-align: center;
  color: var(--secondary-text-color);
}

.cart button {
  width: 100%;
  height: 3rem;
  border: none;
  font-weight: 700;
  font-size: 1.15rem;
  background-color: var(--primary-color);
  color: #ffffff;
}

@media screen and (min-width: 600px) {
  .cart {
    max-width: 20rem;
  }
}

@media screen and (min-width: 1200px) {
  .cart::before {
    right: 2rem;
  }
}
